@page "/xac-thuc-email-dang-ki.html"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Xác nhận email đăng kí";
}

<h1>@ViewData["Title"]</h1>
<p>
    Truy cập vào email để xác thưc tài khoản
</p>
