@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Thay đổi mật khẩu thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thay đổi mật khẩu thành công. <a asp-page="./Login">Đăng nhập</a>.
</p>
