@page "/sua-bai-viet/{id:int}/"
@model razorweb.Pages_Blog.EditModel

@{
    ViewData["Title"] = "Chỉnh sửa bài viết";
}

<h1>Chỉnh sửa bài viết</h1>

<h4>Nội dung chỉnh sửa</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Article.ID" />
            <div class="form-group">
                <label asp-for="Article.Title" class="control-label"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.PublishDate" class="control-label"></label>
                <input asp-for="Article.PublishDate" class="form-control" />
                <span asp-validation-for="Article.PublishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Content" class="control-label"></label>
                <textarea rows="8" asp-for="Article.Content" class="form-control"></textarea>
                <span asp-validation-for="Article.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-page="./Index">Danh sách bài viết</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
